.btn-default.active {
  color: $btn-active-text-color;
  background-color: $btn-active-bg-color;
  border-color: $btn-active-border-color;
  &:hover {
    color: $btn-active-text-color;
    background-color: $btn-active-hover-bg-color;
  }
}
